<%= form_with(model: invoice, local: true) do |form| %>
  <% if invoice.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(invoice.errors.count, "error") %> prohibited this invoice from being saved:</h2>

      <ul>
        <% invoice.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  



  <div class="field">
    <%= form.label :nombre_cliente %>
    <%= form.text_field :nombre_cliente %>
  </div>

  <div class="field">
    <%= form.label :email_cliente %>
    <%= form.text_field :email_cliente %>
  </div>

  <div class="field">
    <%= form.label :total_factura %>
    <%= form.text_field :total_factura %>
  </div>


  <div class="field">
    <%= form.label :product_elements %>
    <div class=row>
      
      <% @products.each do |product| %>
       <label class="col-6col-sm-3">
       <%= form.check_box :product_elements, {multiple: true}, product.id, nil%>
       <%= product.name %> <%= product.price %>$
       
       </label>
        
      <% end %>
      
    </div>
  </div>


  <div class="actions">
      <%= form.submit class: "btn btn-primary btn-user" %>
  </div>
<% end %>
