<%= form_with(model: invoice, local: true) do |form| %>
  <% if invoice.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(invoice.errors.count, "error") %> prohibited this invoice from being saved:</h2>

      <ul>
        <% invoice.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  

<div class="row-auto mr-2">
        <div class="field p-2 ml-4">
          <%= form.label :nombre_cliente, {:class =>"form-label"}%>
          <%= form.text_field :nombre_cliente %>
        
      
          <%= form.label :email_cliente %>
          <%= form.text_field :email_cliente %>
        

       
          <%= form.label :total_factura %>
          <%= form.text_field :total_factura %>


        <div class="actions mb-4 mt-4">
              <%= form.submit "crear factura", class: "btn btn-primary btn-user" %>
        </div>
        </div>
</div>

  
  <table class="table table-hover table-bordered ">
  <thead>
    <tr>
      <th scope="col">Opcion</th>
      <th scope="col">Nombre</th>
      <th scope="col">Precio</th>
      <th scope="col" colspan="3" >Cantidad</th>
     
    </tr>
  </thead>
  <tbody>
<% @products.each do |product| %>
    <tr>
      <td scope="row"><%= form.check_box :product_elements, {multiple: true}, product.id, nil%></th>
      <td class="text-capitalize"> <%= product.name %></td>
      <td> <%=product.price %> $</td>
      <td>
 
    <%= form.number_field :cantidad_producto %>
 </td>
    </tr>
  <% end %>  
  </tbody>
</table>
   
      
  
  </div>

  
  </div>
<% end %>
