
<p id="notice"><%= notice %></p>
<div class="row justify-content-center">
<div class="card" style="width: 18rem;">
 <img src="https://grandhotelier.com/wp-content/uploads/2019/08/Meseros.jpg" class="card-img-top pt-2" alt="...">
 
  <div class="card-body">
<p>
  <strong>Empleado:</strong>
  <%= @invoice.user_id %>
</p>

<p>
  <strong>Nombre cliente:</strong>
  <%= @invoice.nombre_cliente %>
</p>

<p>
  <strong>Email cliente:</strong>
  <%= @invoice.email_cliente %>
</p>
<p>
  <strong>Productos:</strong>

</p>
<%@total_factura= 0%>
<% @invoice.products.zip(@invoice.detail_invoices).each do |(product, detail)| %>
  
  <p><%=product.name%> $ <%=product.price%> x<%=detail.product_quantity%></p>........... <%=product.price * detail.product_quantity%>
    <%@total_factura = @total_factura + ( product.price * detail.product_quantity )%>
    <% end %>
  


<p>
  <strong>Total factura:</strong>
  <%= @total_factura %>
</p>
<div class="row justify-content-center">
<button type="button" class="btn btn-primary col-12">Imprimir</button> <br> 

</div>
</div>
</div>
</div>