<div class="row justify-content-center">
<div class="card" style="width: 18rem;">
<img src="https://grandhotelier.com/wp-content/uploads/2019/08/Meseros.jpg" class="card-img-top pt-2" alt="...">
 <div class="card-body">
<%= form_with(model: @product, local: true) do |form|  %>

    <div>
        <%= form.label :nombre %>
        <%= form.text_field :name %>
        
    </div>
    <div>
        <%= form.label :precio %>
        <%= form.number_field :price %>
    </div>
    <div>
        <%= form.label :stock %>
        <%= form.number_field :stock %>
    </div>
    <div >
        <%= form.submit :class=> "btn btn-success mt-3"  %>
    </div>
    
<%end%>
        </div>
    </div>
</div>