<h1><%=@product.name %></h1>

    <div> 
        <h2>Precio:</h2><%=@product.id %> 
        <h2>Precio:</h2><%=@product.price %> 
        <h2>Stock:</h2> <%=@product.stock %> 
    </div>

    <div>
        <%=link_to "Eliminar Producto", product_delete_path(@product.id) %>
        <br>
        <%=link_to "Editar",  product_edit_path(@product.id) %>
    </div>