<!DOCTYPE html>
<html>
  <head>
    <title>Restaurante</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag "sb-admin-2.min" %>
    
    <style>
      input[type=number]::-webkit-inner-spin-button, 
      input[type=number]::-webkit-outer-spin-button { 
          -webkit-appearance: none; 
          margin: 0; 
}

input[type=number] { -moz-appearance:textfield; }
    </style>
  </head>

  <body id="page-top">
    
  
  <% if user_signed_in? %>
    <%= render 'partials/sidebar3' %>
            <%= yield %>
          <%= render 'partials/content' %>
    <% else %>
            <%= yield %>
  <% end %>
  
       
    
  </body>
</html>
